{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "@react-native-community", "plugin:prettier/recommended"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "react-native/no-inline-styles": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  },
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
