{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "endOfLine": "auto"
}
