.active {
  background: rgba(117, 52, 34, 100);
}

.navLink {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 29px;
  color: #f7f4ef;
  text-decoration: none;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.link:hover {
  color: rgb(160, 219, 65);
}

.navlinkcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  color: #ffff;
  font-size: 2rem;
  text-decoration: none;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
}

.brand:hover {
  color: white;
}
