.useDataWrapper {
  margin: 0 10px 23.5px;
  display: flex;
  flex-direction: column;
}

.userData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lineBorder {
  background-color: rgba(0, 0, 0, 0.2);
  /* border: 0px solid rgba(0, 0, 0, 0.1); */
}

.lineMargin {
  margin: 10px 0;
}

.dataEditWraper {
  display: flex;
  margin: 0 20px;
  align-self: flex-end;
  margin: 0 20px 20px;
}

.iconWrapper {
  margin: 0 5px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
  border-radius: 50px;
  border-width: 0;
}

.iconWrapper:hover {
  background-color: #c4c4c4d3;
  cursor: pointer;
}
