.foot{
    bottom: 0%;
    padding: 1%;
    width: 100%;
    height: 60%;
    left:0%;
    background-color: #67697B;
   
}
.change li{
    font-size: 15px;
    font-weight: lighter;
    display: block;
    color: white;
    font-family: 'Alice', serif;
}
.change img{
    height: 15px;
    width: 15px;
    padding-right: 1%;
}
#spa1, #spa2{
    text-align: right;
    font-family: 'Alice', serif;
    font-size: 15px;
    color: white;
    display: block;
    padding-right: 4%;
}
#spa{
    text-align: left;
    padding-right: 2%;
    font-family: 'Alice', serif;
    font-size: 20px;
    color: white;
}