@media (max-width: 700px) {
  div.footerContainer {
    justify-content: center;
  }
  .flexBox {
    min-width: 250px;
    flex: 1;
  }
}

.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 373px;
  background: #342628;
  padding: 1rem 2.5rem;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
