/* .authMain{
    top: 15%;
    left: 25%;
    height: 90%;
    width: 50%;
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5%;
    opacity: 0.8;
}
.immg img{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;    
} */